@{
    ViewBag.Title = "Preformance";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Line Graph of Time Spent on Projects</h3>
            </div>
            <div class="panel-body">
            
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-line-chart" style="padding: 0px; position: relative;">
                        <canvas class="base" width="1596" height="400"></canvas>
                        <canvas class="overlay" width="1596" height="400" style="position: absolute; left: 0px; top: 0px;"></canvas>
                        <div class="tickLabels" style="font-size:smaller">
                            <div class="xAxis x1Axis" style="color:#545454">
                                <div class="tickLabel" style="position:absolute;text-align:center;left:-35px;top:383px;width:122px">0</div>
                                <div class="tickLabel" style="position:absolute;text-align:center;left:96px;top:383px;width:122px">1</div>
                                <div class="tickLabel" style="position:absolute;text-align:center;left:226px;top:383px;width:122px">2</div>
                                <div class="tickLabel" style="position:absolute;text-align:center;left:357px;top:383px;width:122px">3</div>
                                <div class="tickLabel" style="position:absolute;text-align:center;left:487px;top:383px;width:122px">4</div>
                                <div class="tickLabel" style="position:absolute;text-align:center;left:618px;top:383px;width:122px">5</div>
                                <div class="tickLabel" style="position:absolute;text-align:center;left:748px;top:383px;width:122px">6</div>
                                <div class="tickLabel" style="position:absolute;text-align:center;left:879px;top:383px;width:122px">7</div>
                                <div class="tickLabel" style="position:absolute;text-align:center;left:1009px;top:383px;width:122px">8</div>
                                <div class="tickLabel" style="position:absolute;text-align:center;left:1140px;top:383px;width:122px">9</div>
                                <div class="tickLabel" style="position:absolute;text-align:center;left:1270px;top:383px;width:122px">10</div>
                                <div class="tickLabel" style="position:absolute;text-align:center;left:1401px;top:383px;width:122px">11</div>
                            </div><div class="yAxis y1Axis" style="color:#545454">
                                <div class="tickLabel" style="position:absolute;text-align:right;top:337px;right:1577px;width:19px">-1.0</div>
                                <div class="tickLabel" style="position:absolute;text-align:right;top:259px;right:1577px;width:19px">-0.5</div>
                                <div class="tickLabel" style="position:absolute;text-align:right;top:182px;right:1577px;width:19px">0.0</div>
                                <div class="tickLabel" style="position:absolute;text-align:right;top:104px;right:1577px;width:19px">0.5</div>
                                <div class="tickLabel" style="position:absolute;text-align:right;top:26px;right:1577px;width:19px">1.0</div>
                            </div>
                        </div>
                        <div class="legend">
                            <div style="position: absolute; width: 46px; height: 34px; top: 9px; right: 9px; opacity: 0.85; background-color: rgb(255, 255, 255);">
                            </div>
                            <table style="position:absolute;top:9px;right:9px;;font-size:smaller;color:#545454">
                                <tbody>
                                    <tr>
                                        <td class="legendColorBox">
                                            <div style="border:1px solid #ccc;padding:1px">
                                                <div style="width:4px;height:0;border:5px solid rgb(237,194,64);overflow:hidden"></div>
                                            </div>
                                        </td>
                                        <td class="legendLabel">sin(x)</td>
                                    </tr>
                                    <tr><td class="legendColorBox">
                                        <div style="border:1px solid #ccc;padding:1px">
                                        <div style="width:4px;height:0;border:5px solid rgb(175,216,248);overflow:hidden"></div>
                                        </div></td><td class="legendLabel">cos(x)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div><!--/panel-body-->
        </div><!--/panel-primary-->
    </div><!--/col-->
</div><!--/row-->
